.container {
  margin: auto;
  display: block;
}

@keyframes bg-animation1 {
  /* transform: rotate(0deg); */
  0%,
  100% {
    background-position: right;
  }
  /* transform: rotate(100deg); */
  33% {
    background-position: left;
    transform: rotate(10deg);
  }
  /* transform: rotate(-45deg); */
  50% {
    background-position: top;
    background-position: right;
  }

  80% {
    background-position: left;
    transform: rotate(-10deg);
  }
}

@keyframes bg-animation2 {
  /* transform: rotate(0deg); */
  0%,
  100% {
    background-position: right;
  }
  /* transform: rotate(100deg); */
  40% {
    background-position: left;
  }
  /* transform: rotate(-45deg); */
  66% {
    background-position: right;
  }
}

.mask_screen {
  -webkit-mask-image: url(../public/phone/screen.svg);
  mask-image: url(../public/phone/screen.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mask_phone {
  -webkit-mask-image: url(../public/phone/phone_outline.svg);
  mask-image: url(../public/phone/phone_outline.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
}

.section2 {
  padding: 2em 0;
  width: 100%;
}

.screen {
  background: #ddd;
  background-size: 600%;
  background-image: linear-gradient(
    90deg,
    rgb(30, 251, 177) 0%,
    rgb(85, 181, 255) 31%,
    rgb(235, 244, 68) 64%,
    rgb(252, 177, 58) 100%
  );
  position: absolute;
  margin-left: 15px;
  margin-top: 11px;
  animation: bg-animation1 20s reverse infinite;
  border-radius: 25px;
  animation-delay: 2.5s;
  transition-delay: 0.2s;

  /* transform: rotate(105deg); */
}

.svg {
  position: absolute;
}

.center {
  margin: auto;
  position: fixed;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: "Chivo";
  font-weight: 600;
  margin: 0;
  padding-top: 1em;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.sub_heading {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.template-grid {
  gap: 1em;
  margin: 0 auto;
  display: grid;
  max-width: var(--max-width);
}

.card__content {
  align-self: end;
  margin: 0.5rem 0.5rem 0;
  padding: 0;
  z-index: 1000;
  color: white;
}
